<section>
  <form [formGroup]="registerFg" (ngSubmit)="registerFg.valid">
    <div class="content">
        <h1>Create Account</h1>

        <div class="gender">
            <strong>I am a</strong>
            <mat-radio-group formControlName="genderCtrl" aria-label="Select your gender" color="primary">
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Email -->
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input autoFocusDir type="email" formControlName="EmailCtrl" label="Email" placeholder="Your email" matInput>
            <mat-hint>Enter your email.</mat-hint>
            @if (EmailCtrl.hasError("required")) {
                <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>

        <!-- UserName -->
        <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input type="text" formControlName="userNameCtrl" label="Username" placeholder="Your username" matInput>
            <mat-hint>Between 1 to 30 characters.</mat-hint>
            @if (UserNameCtrl.hasError("required")) {
                <mat-error>This field is required.</mat-error>
            }
        </mat-form-field>

        <!-- Password  -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" formControlName="passwordCtrl" label="Password" placeholder="Your password" matInput>
          @if (PasswordCtrl.hasError("required")) {
            <mat-error>This field is required.</mat-error>
          }
          @else if (PasswordCtrl.errors && PasswordCtrl.hasError("minlength")) {
            <mat-error>It's too short. Min: {{PasswordCtrl.errors["minlength"].requiredLength}}</mat-error>
          }
          @else if (PasswordCtrl.errors && PasswordCtrl.hasError("maxlength")) {
            <mat-error>It's too long. Max: {{PasswordCtrl.errors["maxlength"].requirdLength}}</mat-error>l
          }
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" formControlName="confirmPasswordCtrl" label="Password" placeholder="Your passsword" matInput>
          @if (ConfirmPasswordCtrl.hasError("required"))
          {
            <mat-error>This field is required</mat-error>
          }
          @else if (ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError("minlength"))
          {
            <mat-error>It's too short. Min: {{ConfirmPasswordCtrl.errors["minlength"].requiredLength}}</mat-error>
          }
          @else if (ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError("maxlength")) {
            <mat-error>It's too long. Mac: {{ConfirmPasswordCtrl.errors["maxlength"].requiredLength}}</mat-error>
          }
        </mat-form-field>

        <!-- Name -->
      <mat-form-field>
        <mat-label>Name</mat-label>
      </mat-form-field>
    </div>
  </form>
</section>
<
