section {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    form {
        // background-color: red;

        mat-form-field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}