section {
    display: flex;
    justify-content: flex-end;
    // justify-content: space-around;
    padding-right: 20rem;
    align-items: center;
    position: relative;
    padding-top: 10rem;

    .image {
        position: absolute;
        top: 10rem;
        left: 10rem;
    }

    .form {
        // background-color: rgb(233, 232, 232);
        padding: 1rem;
        display: flex;
        position: relative;
        border-radius: 0.5rem;
        // width: 500px;

        form {
            z-index: 2;
            display: flex;

            mat-form-field {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        img {
            position: absolute;
            bottom: 5px;
            right: 5px;
            // border-bottom-left-radius: 100px;
        }
    }
}