/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .card__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 7px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .top {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;

        .thumb-image {
            // border: solid 2px black;
            border-radius: 50%;
            cursor: pointer;
        }

        .title {
            cursor: pointer;
        }

        /* From Uiverse.io by satyamchaudharydev */
        /* inspired from this svgbackgrounds.com/ */
        .button {
            width: fit-content;
            display: flex;
            flex-direction: column;
            padding: 0.8em 1.1em;
            gap: 0.4rem;
            border: none;
            font-weight: bold;
            border-radius: 30px;
            
            text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
            background: linear-gradient(15deg,
                    #880088,
                    #aa2068,
                    #cc3f47,
                    #de6f3d,
                    #f09f33,
                    #de6f3d,
                    #cc3f47,
                    #aa2068,
                    #880088) no-repeat;
            background-size: 300%;
            background-position: left center;
            transition: background 0.3s ease;
            color: #fff;
        }

        .cap {
            display: none;
        }

        .button:hover {
            background-size: 320%;
            background-position: right center;
        }

        .button:hover svg {
            fill: #fff;
        }

        .button:hover .cap {
            display: block;
        }

        .button svg {
            width: 23px;
            fill: #f09f33;
            transition: 0.3s ease;
        }

    }

    .user-icons {
        // background-color: red;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;

        .message {
            display: none;
            position: absolute;
            background: #333;
            color: #fff;
            padding: 5px;
            border-radius: 4px;
            font-size: 12px;
            margin-top: 50px;
            margin-left: 100px;
        }

        .add {
            position: relative;
            display: inline-block;
        }

        .add:hover+.message {
            display: block;
        }
    }

    .title {
        // background-color: red;
        display: flex;

    }
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

/* .card img {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } */

/* .card:hover svg {
    scale: 0; */
// }

// $card_size: 9rem;

// .card {
//     max-width: $card_size;

//     img {
//         width: $card_size;
//         height: $card_size;
//         transform: scale(1.0, 1.0);
//         transition-duration: 500ms;
//         transition-timing-function: ease-out;
//     }

//     &:hover {
//         img {
//             transform: scale(1.2, 1.2);
//             transition-duration: 500ms;
//             transition-timing-function: ease-out;
//             opacity: 0.7;
//         }

//         .card-img-wrapper .user-icons {
//             bottom: 0.5rem;
//             opacity: 1;
//         }
//     }

//     .card-img-wrapper {
//         position: relative;
//         overflow: hidden;
//         display: flex;

//         .user-icons {
//             // background-color: red;
//             position: absolute;
//             bottom: -30%;
//             opacity: 0;
//             padding: 0;
//             margin: 0;
//             display: flex;
//             min-width: $card_size;
//             justify-content: space-evenly;
//             gap: 2px;
//             list-style-type: none;

//             transition: all 0.3s ease-in-out;

//             li {
//                 transform: scale(1.0, 1.0);
//                 transition-duration: 200ms;
//                 transition-timing-function: ease-out;

//                 &:hover {
//                     transform: scale(1.3, 1.3);
//                     transition-duration: 200ms;
//                     transition-timing-function: ease-out;
//                 }
//             }
//         }
//     }

//     mat-card-header {
//         display: flex;
//         flex-direction: column-reverse;
//         align-items: center;
//         padding: 0.5rem 0;
//         cursor: pointer;

//         &:hover {
//             background-color: rgb(255, 228, 255);
//         }

//     }

//     .title {
//         display: flex;
//         align-items: center;
//     }
// }