main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .container {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                display: flex;
                align-items: flex-end;
                // background-color: red;
            }

            .buttons {
                display: flex;
                justify-content: center;
                width: 500px;
                gap: 2rem;

                button {
                    background-color: orange;
                    color: white;
                }
            }
        }

        .image {
            img {
                margin-top: 2rem;
                border-top-right-radius: 30%;
                border-bottom-left-radius: 30%;
            }
        }
    }

    .details {
        height: 100%;
        // background-color: red;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;

        mat-card {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}