main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .container {
        // background-color: rgb(7, 50, 70);
        // background-color: red;
        
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .description {
            position: relative;
            // background-color: rgb(7, 50, 70);
            // background-color: red;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                display: flex;
                align-items: flex-end;
                // background-color: red;
            }

            .buttons {
                display: flex;
                justify-content: center;
                width: 500px;
                gap: 2rem;

                button {
                    background-color: orange;
                    color: white;
                }
            }

            .color {
                background-color: rgb(7, 50, 70);
                height: 200px;
                width: 200px;
                position: absolute;
                top: 5px;
                left: 5px;
                border-bottom-right-radius: 1000px;
            }
        }

        .image {

            // width: 50%;
            // background-color: red;
            img {
                border-bottom-left-radius: 30%;
            }
        }
    }

    .details {
        height: 100%;
        // background-color: red;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;

        mat-card {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}