main {
    // background-color: yellow;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: solid rgba(13, 141, 109, 1) 1px;
    // border: solid red 1px;
    // padding: 1rem;

    mat-tab-group {
        // border: solid green 1px;
        width: 100%;

        .members {
            // background-color: red;
            // padding-top: 2rem;
            min-height: 50dvh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin: 2rem;



            p {
                font-size: 1rem;
                color: rgb(66, 66, 66);
            }
        }
    }

    // .paginator {
    //     display: flex;
    //     align-self: center;
    // }

    .paginator {
        // border: solid gray 1px;

        // position: absolute;
        // position: fixed;
        // bottom: 2rem;
        // right: 3rem;
        // z-index: 2;
    }
}