<section class="members-container">
    <div class="left">
        <form [formGroup]="filterFg">
            <div class="order">
                <h5 class="title">Sort members</h5>
                <mat-form-field appearance="outline">
                    <mat-label>Sort by</mat-label>
                    <mat-select (selectionChange)="updateMemberParams()" formControlName="orderByCtrl">
                        @for (orderOption of orderOptions; track $index) {
                        <mat-option [value]="orderOption" (click)="getAll()"
                            [disabled]="orderOption === memberParams?.orderBy">
                            {{ orderOptionsView[$index] }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="filter">
                <h5 class="title">Search members</h5>
                <mat-form-field appearance="outline">
                    <input type="text" formControlName="searchCtrl" placeholder="By Username or name" matInput>
                </mat-form-field>
            </div>

            <div class="age">
                <p>By age range</p>
                <div class="slider">
                    <mat-slider discrete max="{{maxAge}}" min="{{minAge}}">
                        <input formControlName="minAgeCtrl" matSliderStartThumb>
                        <input formControlName="maxAgeCtrl" matSliderEndThumb>
                    </mat-slider>
                </div>
            </div>

            <mat-form-field>
                <mat-label>By gender</mat-label>
                <mat-select formControlName="genderCtrl">
                    <mat-select>-- none --</mat-select>
                    <mat-option [value]="'female'">Female</mat-option>
                    <mat-option [value]="'male'">Male</mat-option>
                    <mat-option [value]="'other'">Other</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="actions">
                <button (click)="updateMemberParams(); getAll();" color="primary" mat-stroked-button class="apply">
                    Apply Filter
                </button>

                <button (click)="reset()" mat-stroked-button class="reset">
                    Reset
                </button>
            </div>
        </form>
    </div>
    <div class="right">
        <h1>Find your Fav Coach or Player</h1>
        @if (members?.length === 0) {
        <p>No use exists with this filters. Please change the filter values.</p>
        }
        <div class="members">
            @for (member of members; track $index) {
            <app-member-card [memberInput]="member"></app-member-card>
            }
        </div>
        @if (pagination && memberParams) {
        <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
            [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
            [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false"
            [pageIndex]="memberParams.pageNumber - 1" aria-label="Select page" class="paginator">
        </mat-paginator>
        }
    </div>
</section>