<section class="members-container">
    <h1>Find your Fav Coach or Player</h1>
    @if (members?.length === 0) {
        <p>No use exists with this filters. Please change the filter values.</p>
    }
    <form [formGroup]="filterFg" class="">
        <div class="filter">
            <p class="title">Search members</p>
            <mat-form-field>
                <input type="text" formControlName="searchCtrl" placeholder="By Username or name" matInput>
            </mat-form-field>


            <p class="title">Sort members</p>
            <mat-form-field>
                <mat-label>Sort by</mat-label>
                <mat-select (selectionChange)="updateMemberParams()" formControlName="orderByCtrl">
                    @for (orderOption of orderOptions; track $index) {
                    <mat-option [value]="orderOption" (click)="getAll()"
                        [disabled]="orderOption === memberParams?.orderBy">
                        {{ orderOptionsView[$index] }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button (click)="updateMemberParams(); getAll();" [disabled]="isAnyFilterApplied()" 
                color="primary" mat-stroked-button>
                Apply Filter
            </button>
        </div>
    </form>
    <div class="members">
        @for (member of members; track $index) {
        <app-member-card [memberInput]="member"></app-member-card>
        }
    </div>
    @if (pagination && memberParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false" [pageIndex]="memberParams.pageNumber - 1"
        aria-label="Select page" class="paginator">
    </mat-paginator>
    }
</section>