<div class="video-wrapper">
    <video #player src="{{videoSrc}}" (loadedmetadata)="onLoadedMetaData()" (timeupdate)="onTimeUpdate()"></video>

    <button mat-mini-fab class="play-btn" (click)="togglePlay()">
        @if (isPlaying) {
        <mat-icon>pause</mat-icon>
        }
        @else {
        <mat-icon>play_arrow</mat-icon>
        }
    </button>

    <div class="controls">
        <span class="time">{{ formatTime(currentTime) }}</span>

        <input class="seek" type="range" [min]="0" [max]="duration" [step]="0.1"
            [value]="seeking ? seekPreviewTime : currentTime" (input)="onSeekInput($event)"
            (change)="onSeekCommit($event)" (mousedown)="seeking = true" (touchstart)="seeking = true">


        <button mat-mini-fab class="fullscreen-btn" (click)="toggleFullScreen()">
            <mat-icon>fullscreen</mat-icon>
        </button>
    </div>

</div>