section {
    height: 600px;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .top {
        // background-color: red;
        display: flex;
        flex-direction: row;
        // align-items: center;
        padding: 1rem;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 20px 20px 40px #c7c7c7,
            -20px -20px 40px #f9f9f9;

        .item-1 {
            // background-color: green;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            padding: 1rem;

            img {
                border-radius: 50%;
            }
        }

        .item-2 {
            flex-grow: 4;
            // background-color: pink;

            .tab-contents {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 1rem;
            }
        }
    }

    .bottom {
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: -20px -20px 40px #c7c7c7,
            20px 20px 40px #f9f9f9;
            height: fit-content;

        .members {
            display: flex;
            margin: 2rem;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }
}