<section>
  <div class="top">
    <div class="item-1">
      @if (teamSig(); as team) {
        @if (team.profilePhotoUrl) {
          <img [src]="apiUrl + team.profilePhotoUrl" alt="Team" />
        }
      }
    </div>

    <div class="item-2">
      <mat-tab-group mat-stretch-tabs="true">
        <mat-tab label="Team Technical Specifications">
          <div class="tab-contents">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Team Name</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.teamName }}</h5>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Team Level</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.teamLevel }}</h5>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Team Achievements</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.achievements }}</h5>
            </mat-expansion-panel>
          </div>
        </mat-tab>

        <mat-tab label="Team Statistics">
          <div class="tab-contents">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Games Played</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.gamesPlayed }}</h5>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Games Won</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.gamesWon }}</h5>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Games Lost</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>{{ team?.gamesLost }}</h5>
            </mat-expansion-panel>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="bottom">
    <mat-tab-group>
      <mat-tab label="Members">
        @if (members?.length === 0) {
        <p class="no-members">This team has no members.</p>
        }
        <div class="members">
          @for (member of members; track $index) {
          <app-team-members-card [memberInput]="member" />
          }
        </div>
      </mat-tab>
      <mat-tab label="Team Photos">
        <app-team-photo-editor [teamInput]="team" />
      </mat-tab>
      <mat-tab label="Team Chat">
        <div class="chat-box">
          <div class="messages">
            @if (messages().length > 0) {
              @for (message of messages(); track $index) {
                <div class="message">
                  <div class="container">
                    <span class="user">{{ message.senderUserName }}:</span>
                    <span class="time">{{ message.timeStamp | intlRelativeTime}}</span>
                  </div>
                  <span class="text">{{ message.message }}</span>
                </div>
              }
            } @else {
              <div class="empty">No messages let.</div>
            }
          </div>
      
          <div class="input-box">
            <input
              [(ngModel)]="messageText"
              placeholder="Write your message..."
              (keyup.enter)="sendMessage()"
            />
            <button (click)="sendMessage()">Send</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>