.container {
    background-color: red;
    display: flex;
    margin: 3rem;
    gap: 2rem;
    min-height: fit-content;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 34px;
        background: #e0e0e0;
        box-shadow: 27px 27px 40px #a1a1a1,
            -27px -27px 40px #ffffff;
    }
}