.container {
    // background-color: red;
    display: flex;
    margin: 3rem;
    gap: 2rem;
    min-height: fit-content;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 34px;
        background: #e0e0e0;
        box-shadow: 27px 27px 40px #a1a1a1,
            -27px -27px 40px #ffffff;

        .top {
            // background-color: green;
            margin: 1rem;

            img {
                border-radius: 34px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;

            .actions {
                // background-color: red;
                display: flex;
                gap: 10px;
            }
        }
    }

    .right {
        // background-color: pink;
        flex-grow: 3;
        border-radius: 34px;
        background: #e0e0e0;
        box-shadow: -27px 27px 40px #a1a1a1,
            27px -27px 40px #ffffff;

        .image-contents {
            // background-color: red;
            display: flex;
            flex-direction: column;

            .gallery {
                // background-color: blue;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                padding: 1rem;

                .photo {
                    position: relative;

                    img {
                        border-radius: 10px;
                    }

                    mat-icon {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                    }
                }
            }
        }

        .tab-contents {
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            margin: 1rem;
        }
    }
}