@if (member) {
<section class="container">
    <div class="left">
        <div class="top">
            @if (member.photos.length > 0) {
            @for (photo of member.photos; track $index) {
            @if (photo.isMain) {
            <img src="{{_apiUrl + photo.url_165}}" priority alt="" height="250px" width="250px" mat-card-image>
            }
            }
            }
            @else {
            <img src="member.png" alt="" height="250px" width="250px" mat-card-image>
            }
            @switch (member.gender) {
            @case ('male') {
            <mat-icon>boy</mat-icon>
            }
            @case ('female') {
            <mat-icon>girl</mat-icon>
            }
            @default {
            <mat-icon>person</mat-icon>
            }
            }
        </div>
        <div class="bottom">
            <div>
                <strong>Name and LastName</strong>
                <p>{{member.name}}, {{member.lastName}}</p>
            </div>
            <div>
                <strong>Age</strong>
                <p>{{member.age}}</p>
            </div>
            <div>
                <strong>LastActive</strong>
                <p>{{member.lastActive | intlRelativeTime }}</p>
            </div>
            <div>
                <strong>Experience Level</strong>
                <p>{{member.experienceLevel}}</p>
            </div>
        </div>
    </div>
    <div class="right">
        <h1>hi</h1>
    </div>
</section>
}