main {
    display: flex;
    flex-direction: column;

    .container {
        h5 {
            margin-top: 1rem;
        }

        display: flex;
        flex-direction: column;
        margin: 1rem;

        button {
            background-color: orange;
            color: white;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;

        mat-card {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}