.container {
    // height: 700px;
    // background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;

    form {
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1rem;

        .actions {
            // background-color: orange;
            display: flex;
            gap: 10px;

            button {
                background-color: orange;
            }
        }
    }
}