.page {
    .spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ball-container {
            animation: bounce 1s ease-in-out infinite;
            margin-bottom: 2rem;
            filter: drop-shadow(0 0 12px #ff6a00);
            
            .basketball {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                transition: transform 0.3s ease;
                cursor: default;
                
                &:hover {
                    transform: rotate(20deg) scale(1.1);
                    filter: drop-shadow(0 0 18px #ff7f11);
                }
            }
        }

        h1 {
            color: #ff6a00;
        }
    }
    
    .container {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        width: 100%;

        header {
            position: sticky;
            top: 0;
            z-index: 3;
        }

        main {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 0% 0% 6%; // left/right 4%

            >* { // router-outlet objects
                width: 100%;
            }
        }

        footer {
          // position: sticky;
          z-index: 2;
        }
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  }
  