<div class="page">
    <ngx-spinner type="ball-atom">
        <div class="spinner">
            <div class="ball-container" aria-hidden="true">
                <img src="ball-2.png" alt="Basketball" class="basketball" />
            </div>
        </div>
    </ngx-spinner>

    <section class="container">
        <header>
            <nav>
                <app-navbar />
            </nav>
        </header>

        <main>
            <div class="wrapper">
                <router-outlet />
            </div>
        </main>

        <footer>
            <app-footer />
        </footer>
    </section>
</div>