<div class="page">
    <ngx-spinner type="ball-atom">
        <div class="spinner">
            <div class="hourglassBackground">
                <div class="hourglassContainer">
                    <div class="hourglassCurves"></div>
                    <div class="hourglassCapTop"></div>
                    <div class="hourglassGlassTop"></div>
                    <div class="hourglassSand"></div>
                    <div class="hourglassSandStream"></div>
                    <div class="hourglassCapBottom"></div>
                    <div class="hourglassGlass"></div>
                </div>
            </div>
            <h1>Loading...</h1>
        </div>
    </ngx-spinner>

    <section class="container">
        <header>
            <nav>
                <app-navbar />
            </nav>
        </header>

        <main>
            <div class="wrapper">
                <router-outlet />
            </div>
        </main>

        <footer>
            <app-footer />
        </footer>
    </section>
</div>