<mat-toolbar color="primary" class="toolbar">
  <div class="left-side">
    <a class="brand" routerLink="/" aria-label="Home">
      <h3>WBT</h3>
      <mat-icon aria-hidden="true">sports_basketball</mat-icon>
    </a>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="User menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" class="app-menu">
    @if (loggedInUserSig && loggedInUserSig(); as user) {
      <div class="user-info">
        @if (user.profilePhotoUrl) {
        <img class="user-avatar-large" src="{{apiUrl + user.profilePhotoUrl}}"
          alt="{{user.userName}}'s profile photo" />
        }
        @else {
        <span class="user-initial-large">{{ user.userName[0] | titlecase }}</span>
        }
        <p class="username">{{ user.userName }}</p>
      </div>
    }
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item routerLink="user/user-edit" routerLinkActive="active-link" aria-label="Edit Profile">
        <mat-icon color="primary" aria-hidden="true">edit_note</mat-icon>
        <span>Edit Profile</span>
      </mat-list-item>
      <mat-list-item routerLink="members" routerLinkActive="active-link" aria-label="All Members">
        <mat-icon color="primary" aria-hidden="true">flaky</mat-icon>
        <span>All Members</span>
      </mat-list-item>
      <mat-list-item routerLink="likes" routerLinkActive="active-link" aria-label="Likes">
        <mat-icon color="warn" aria-hidden="true">sports_basketball</mat-icon>
        <span>Teams</span>
      </mat-list-item>
      <mat-list-item routerLink="messages" routerLinkActive="active-link" aria-label="Messages">
        <mat-icon color="primary" aria-hidden="true">forum</mat-icon>
        <span>Messages</span>
      </mat-list-item>
      <mat-list-item routerLink="likes" routerLinkActive="active-link" aria-label="Likes">
        <mat-icon color="warn" aria-hidden="true">favorite</mat-icon>
        <span>Likes</span>
      </mat-list-item>

      <div class="actions">
        <button mat-flat-button color="accent" aria-label="About App">About App</button>
        <button mat-flat-button color="accent" aria-label="About Us">About Us</button>
      </div>

      <mat-divider></mat-divider>

      <div class="logout">
        <button (click)="logout()" mat-raised-button aria-label="Logout">Logout</button>
      </div>
    </mat-nav-list>
  </mat-menu>
</mat-toolbar>