section {
    display: flex;
    justify-content: flex-end;
    // justify-content: space-around;
    padding-right: 20rem;
    align-items: center;
    position: relative;
    padding-top: 10rem;

    .image {
        position: absolute;
        top: 10rem;
        left: 10rem;
    }

    .form {
        // background-color: rgb(233, 232, 232);
        padding: 1rem;
        display: flex;
        position: relative;
        border-radius: 0.5rem;
        border: 2px black solid;
        border-radius: 2rem;
        // width: 500px;
        // gap: 1rem;

        img {
            margin: 1rem;
        }

        form {
            // background-color: red;
            z-index: 2;
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;


                mat-form-field {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        img {
            position: absolute;
            bottom: 5px;
            right: 5px;
            // border-bottom-left-radius: 100px;
        }
    }
}