section {
    // background-color: red;

    .top {
        // background-color: #e26b38;
        display: flex;
        justify-content: space-around;
        // height: fit-content;
       

    }
}