<section>
    <div class="top">
        <div class="left">
            <h1>Create your own Team </h1>
            <h5>Unite your passion for basketball,
                <br>
                assemble your dream team, and lead them to victory.
                <br>
                <strong>
                    where every pass, shot, and play is a step towards
                    greatness.
                </strong>
                <br>
                Create your team now and watch your squad rise to the top!
            </h5>
            <button>Start</button>
        </div>
        <div class="right">
            <img src="aiteam.jpeg" alt="" height="400px" width="500px">
        </div>
    </div>
    <div class="bottom">
        <h1>hi</h1>
    </div>
</section>