section {
    // background-color: red;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
        // background-color: #e26b38;
        display: flex;
        justify-content: space-around;
        gap: 20rem;
        // height: fit-content;
        padding: 1rem;

        .left {
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                background-color: orange;
            }
        }

        img {
            border-radius: 1rem;
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
    }

    .paginator {
        width: 600px;
        // position: absolute;
        // bottom: 1px;
    }
}