<section>
    <div class="top">
      <div class="left">
        <h1>Create your own Team</h1>
        <h3>
          Unite your passion for basketball,<br />
          assemble your dream team, and lead them to victory.<br />
          <strong>
            Where every pass, shot, and play is a step towards greatness.
          </strong><br />
          Create your team now and watch your squad rise to the top!
        </h3>
        <button mat-flat-button color="primary" routerLink="/create-team">Start</button>
      </div>
  
      <div class="right">
        <img src="aiteam.jpeg" alt="Create Team" />
      </div>
    </div>
  
    <div class="bottom">
      @for (team of teams; track $index) {
        <app-team-card [teamInput]="team"></app-team-card>
      }
    </div>
  
    @if (pagination && paginationParams) {
      <mat-paginator
        #paginator
        (page)="handlePageEvent($event)"
        [length]="pagination.totalItems"
        [pageSize]="paginationParams.pageSize"
        [disabled]="false"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []"
        [hidePageSize]="false"
        [pageIndex]="paginationParams.pageNumber - 1"
        aria-label="Select page"
        class="paginator"
      ></mat-paginator>
    }
  </section>
  