<section>
  <div class="top">
    <div class="details">
      <img src="hoop.jpg" alt="Basketball hoop">
      <div class="description">
        <h1><strong>WBT</strong></h1>
        <h5>
          Step onto the digital court by registering your profile,
          <br>
          and with each login,
          unlock a world where every dribble, shot, and 
          <br>
          play brings you closer to mastering the game you love.
        </h5>
      </div>
    </div>
  </div>

  <div class="bottom">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>I am Player</mat-card-title>
          <mat-card-subtitle>
            Register as player<br>
            Join teams<br>
            Connect with other members
          </mat-card-subtitle>
          <img mat-card-lg-image src="bplayer.jpg" alt="Player">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button routerLink="/account/register">Register as Player</button>
        <button mat-flat-button routerLink="/account/login">Login as Player</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>I am Coach</mat-card-title>
          <mat-card-subtitle>
            Register as Coach<br>
            Build your team<br>
            Recruit members
          </mat-card-subtitle>
          <img mat-card-lg-image src="bcoach.jpeg" alt="Coach">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button routerLink="/coachaccount/register">Register as Coach</button>
        <button mat-flat-button routerLink="/coachaccount/login">Login as Coach</button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
