.right {
    position: relative;
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    background: #e0e0e0;
    box-shadow: -27px 27px 40px #a1a1a1,
        27px -27px 40px #ffffff;

    .members {
        // background-color: red;
        display: flex;
        gap: 2rem;
    }

    .paginator {
        position: absolute;
        bottom: 1rem;
        border-radius: 1rem;
    }
}