<div class="card">
    <mat-card class="card">
        @if (memberIn?.photos?.length === 0) {
        <img src="member.png" alt="" height="200px" width="200px" alt="{{memberIn?.userName}} photo" mat-card-image>
        }
        @else {
        @for (photo of memberIn?.photos; track $index) {
        @if (photo.isMain) {
        <img src="{{apiUrl + photo.url_165}}" width="200px" height="200px">
        }
        }
        }
    </mat-card>
    <div class="card__content">
        <div class="top">
            @if (memberIn?.photos?.length === 0) {
            <img class="thumb-image" src="member.png" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            @else {
            @for (photo of memberIn?.photos; track $index) {
            @if (photo.isMain) {
            <img class="thumb-image" src="{{apiUrl + photo.url_165}}" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            }
            }
            <div class="title" [routerLink]="['/member-details/' + memberIn?.userName]">
                <mat-card-title>{{memberIn?.userName}}</mat-card-title>
                @switch (memberIn?.gender) {
                @case ('male') {
                <mat-icon color="primary">boy</mat-icon>
                }
                @case ('female') {
                <mat-icon color="primary">girl</mat-icon>
                }
                @default {
                <mat-icon color="primary">group_add</mat-icon>
                }
                }
            </div>
        </div>
        <br>
        <div class="user-icons">
            @if (!memberIn?.isFollowing) {
            <button mat-mini-fab (click)="follow()">
                <mat-icon>person_add</mat-icon>
            </button>
            }
            @else {
            <button mat-mini-fab (click)="unfollow()">
                <mat-icon>person_remove</mat-icon>
            </button>
            }

            @if (!memberIn?.isLiking) {
            <button mat-mini-fab (click)="like()">
                <mat-icon>favorite</mat-icon>
            </button>
            }
            @else {
            <button mat-mini-fab (click)="dislike()">
                <mat-icon color="warn">favorite</mat-icon>
            </button>
            }
            <button mat-mini-fab>
                <mat-icon>message</mat-icon>
            </button>
        </div>
        <!-- <div class="title">
            @switch (memberIn?.gender) {
            @case ('male') {
            <mat-icon color="primary">boy</mat-icon>
            }
            @case ('female') {
            <mat-icon color="primary">girl</mat-icon>
            }
            @default {
            <mat-icon color="primary">group_add</mat-icon>
            }
            }
        </div> -->
    </div>
    <!-- <h1>test</h1> -->


    <!-- @if (memberIn) {
<mat-card class="card">
    <div class="card-img-wrapper">
        @if (memberIn.photos.length === 0) {
        <img ngSrc="member.png" width="128" height="128" alt="{{memberIn.userName}} photo"
            mat-card-image>
        } @else {
        @for (photo of memberIn.photos; track $index) {
        @if (photo.isMain) {
        <img ngSrc="{{apiUrl + photo.url_165}}" width="128" height="128" alt="{{memberIn.userName}}  photo"
            mat-card-image>
        }
        }
        }
        <ul class="user-icons">
            <li>
                @if (!memberIn.isFollowing) {
                <button (click)="follow()" mat-mini-fab>
                    <mat-icon color="primary">person_add</mat-icon>
                </button>
                } @else {
                <button (click)="unfollow()" mat-mini-fab>
                    <mat-icon color="primary">person_remove</mat-icon>
                </button>
                }
            </li>
            <li>
                @if (!memberIn.isLiking) {
                <button mat-mini-fab (click)="like()">
                    <mat-icon>favorite</mat-icon>
                </button>
                }
                @else {
                    <button mat-mini-fab (click)="dislike()">
                        <mat-icon color="warn">favorite</mat-icon>
                    </button>
                }
            </li>
            <li>
                <button mat-mini-fab>
                    <mat-icon color="accent">mail</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <mat-card-header [routerLink]="['/member-details/' + memberIn.userName]">
        <div class="title">
            @switch (memberIn.gender) {
            @case ('male') {
            <mat-icon color="primary">boy</mat-icon>
            }
            @case ('female') {
            <mat-icon color="primary">girl</mat-icon>
            }
            @default {
            <mat-icon color="primary">group_add</mat-icon>
            }
            }
            <mat-card-title>{{ memberIn.userName | titlecase }}, {{ memberIn.age }}</mat-card-title>
        </div>
        <mat-card-subtitle>{{ memberIn.city | titlecase }}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
} -->