/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .card__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 7px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .thumb-image {
        // border: solid 2px black;
        border-radius: 50%;
        cursor: pointer;
    }

    .user-icons {
        // background-color: red;
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        // background-color: red;
        display: flex;

    }
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

/* .card img {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } */

/* .card:hover svg {
    scale: 0; */
// }

// $card_size: 9rem;

// .card {
//     max-width: $card_size;

//     img {
//         width: $card_size;
//         height: $card_size;
//         transform: scale(1.0, 1.0);
//         transition-duration: 500ms;
//         transition-timing-function: ease-out;
//     }

//     &:hover {
//         img {
//             transform: scale(1.2, 1.2);
//             transition-duration: 500ms;
//             transition-timing-function: ease-out;
//             opacity: 0.7;
//         }

//         .card-img-wrapper .user-icons {
//             bottom: 0.5rem;
//             opacity: 1;
//         }
//     }

//     .card-img-wrapper {
//         position: relative;
//         overflow: hidden;
//         display: flex;

//         .user-icons {
//             // background-color: red;
//             position: absolute;
//             bottom: -30%;
//             opacity: 0;
//             padding: 0;
//             margin: 0;
//             display: flex;
//             min-width: $card_size;
//             justify-content: space-evenly;
//             gap: 2px;
//             list-style-type: none;

//             transition: all 0.3s ease-in-out;

//             li {
//                 transform: scale(1.0, 1.0);
//                 transition-duration: 200ms;
//                 transition-timing-function: ease-out;

//                 &:hover {
//                     transform: scale(1.3, 1.3);
//                     transition-duration: 200ms;
//                     transition-timing-function: ease-out;
//                 }
//             }
//         }
//     }

//     mat-card-header {
//         display: flex;
//         flex-direction: column-reverse;
//         align-items: center;
//         padding: 0.5rem 0;
//         cursor: pointer;

//         &:hover {
//             background-color: rgb(255, 228, 255);
//         }

//     }

//     .title {
//         display: flex;
//         align-items: center;
//     }
// }