<div class="card">
    <mat-card class="card">
        @if (memberIn?.photos?.length === 0) {
        @switch (memberIn?.gender) {
        @case ('male') {
        <img src="avatar-25.webp" alt="" height="200px" width="200px" alt="{{memberIn?.userName}} photo" mat-card-image>
        }
        @case ('female') {
        <img src="avatar-1.webp" alt="" height="200px" width="200px" alt="{{memberIn?.userName}} photo" mat-card-image>
        }
        @default {
        <img src="member.png" alt="" height="200px" width="200px" alt="{{memberIn?.userName}} photo" mat-card-image>
        }
        }
        }
        @else {
        @for (photo of memberIn?.photos; track $index) {
        @if (photo.isMain) {
        <img src="{{apiUrl + photo.url_165}}" width="200px" height="200px">
        }
        }
        }
    </mat-card>
    <div class="card__content">
        <div class="top">
            @if (memberIn?.photos?.length === 0) {
            @switch (memberIn?.gender) {
            @case ('male') {
            <img class="thumb-image" src="avatar-25.webp" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            @case ('female') {
            <img class="thumb-image" src="avatar-1.webp" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            @default {
            <img class="thumb-image" src="member.png" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            }
            }
            @else {
            @for (photo of memberIn?.photos; track $index) {
            @if (photo.isMain) {
            <img class="thumb-image" src="{{apiUrl + photo.url_165}}" alt="" height="50px" width="50px"
                [routerLink]="['/member-details/' + memberIn?.userName]">
            }
            }
            }
            <div class="title" [routerLink]="['/member-details/' + memberIn?.userName]">
                <mat-card-title>{{memberIn?.userName}}</mat-card-title>
                @switch (memberIn?.gender) {
                @case ('male') {
                <mat-icon color="primary">boy</mat-icon>
                }
                @case ('female') {
                <mat-icon color="primary">girl</mat-icon>
                }
                @default {
                <mat-icon color="primary">group_add</mat-icon>
                }
                }
            </div>
        </div>
    </div>