$input-width: 100%;
$input-max-width: 270px;
$border-size: 4px;
$box-shadow-size: 8px;
$hover-shadow-size: 12px;
$primary-color: #000;
$secondary-color: #fff;
$placeholder-color: #888;
$focus-background: #010101;
$focus-border-color: #d6d9dd;
$btn-border: none;
$btn-padding: 0.1em 1.5em;
$btn-font-size: 18px;
$btn-bg: transparent;
$btn-color: black;
$btn-border-color: black;
$btn-hover-bg: black;
$btn-active-bg: black;
$btn-font-family: inherit;
$btn-font-weight: 500;
$lightgray: var(--lightgray);

.container {
    // background-color: red;
    display: flex;
    margin: 3rem;
    gap: 2rem;
    min-height: fit-content;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 34px;
        background: #e0e0e0;
        box-shadow: 27px 27px 40px #a1a1a1,
            -27px -27px 40px #ffffff;

        .top {
            // background-color: green;
            margin: 1rem;

            img {
                border-radius: 34px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
        }
    }

    .right {
        flex-grow: 3;
        border-radius: 34px;
        background: #e0e0e0;
        box-shadow: -27px 27px 40px #a1a1a1,
            27px -27px 40px #ffffff;

        .tab-contents {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 1rem;

            form {
                display: flex;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: orange;
                }
            }

            .example-headers-align .mat-expansion-panel-header-description {
                justify-content: space-between;
                align-items: center;
              }
        }
    }
}