@if (memberInput) {
<section class="container">
    <div class="left">
        <div class="top">
            @if (memberInput.photos.length > 0) {
            @for (photo of memberInput.photos; track $index) {
            @if (photo.isMain) {
            <img src="{{apiUrl + photo.url_165}}" priority alt="" height="250px" width="250px" mat-card-image>
            }
            }
            }
            @else {
            <img src="member.png" alt="" height="250px" width="250px" mat-card-image>
            }
            @switch (memberInput.gender) {
            @case ('male') {
            <mat-icon>boy</mat-icon>
            }
            @case ('female') {
            <mat-icon>girl</mat-icon>
            }
            @default {
            <mat-icon>person</mat-icon>
            }
            }
        </div>
        <div class="bottom">
            <div>
                <strong>Name and LastName</strong>
                <p>{{memberInput.name}}, {{memberInput.lastName}}</p>
            </div>
            <div>
                <strong>Age</strong>
                <p>{{memberInput.age}}</p>
            </div>
            <div>
                <strong>LastActive</strong>
                <p>{{memberInput.lastActive | intlRelativeTime }}</p>
            </div>
            <div>
                <strong>Location</strong>
                <p>{{memberInput.city}}, {{memberInput.region}}, {{memberInput.country}}</p>
            </div>
        </div>
    </div>
    <div class="right">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="{{memberInput.userName}} Comments">
                <div class="tab-contents">
                    <form [formGroup]="comFg">
                        <mat-form-field appearance="outline">
                            <input class="input" formControlName="contentCtrl" name="text" type="text"
                            placeholder="Add your comment..." matInput/>
                        </mat-form-field>

                        <button (click)="add()" mat-flat-button>Add</button>
                    </form>

                    @if (comments) {
                    @for (userCom of comments; track $index) {

                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> {{userCom.commenterName | uppercase}} for
                                    {{userCom.commentedMemberName | uppercase}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{userCom.createdAt | date}}
                                    <button mat-mini-fab (click)="remove()">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                    <!-- <button (click)="removeDeletedCommentsFromComments(memberInput.userName)">update list</button> -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>{{userCom.content}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    }
                    }
                    @else {
                    <h2>This user is so alone.</h2>
                    }
                </div>
            </mat-tab>
            <mat-tab label="{{memberInput.userName}} Chat">
                <div class="tab-contents">

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
}