mat-toolbar {
    background-color: #fbf0c3;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            display: flex;
            gap: 2px;
            color: white;

            .mat-icon {
                // background-color: red;
                animation: 2s mat-icon ease-in-out infinite;
                @keyframes mat-icon {
                    0% {
                        transform: rotateX(0) rotateY(0) rotateZ(0);
                    }

                    33% {
                        transform: rotateX(180deg) rotateY(0) rotateZ(0);
                    }

                    67% {
                        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
                    }

                    100% {
                        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
                    }
                }
            }
        }

        .right-side {
            // background-color: red;
            display: flex;
            gap: 1rem;

            button {
                background-color: #0089ba;
                color: white;
            }
        }
    }
}