mat-toolbar {
    background-color: rgb(7, 50, 70);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .brand {
            display: flex;
            align-items: center;
            color: white;
        }

        .mat-icon {
            // background-color: red;
            animation: 2s mat-icon ease-in-out infinite;

            @keyframes mat-icon {
                0% {
                    transform: rotateX(0) rotateY(0) rotateZ(0);
                }

                33% {
                    transform: rotateX(180deg) rotateY(0) rotateZ(0);
                }

                67% {
                    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
                }

                100% {
                    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
                }
            }
        }
    }
}